<html id="terminal">
<div>
    <script type="module" src="../../external/v86/build/libv86.js"></script>
    <script>
        window.onload = function () {
            var emulator = new V86({
                wasm_path: "../../external/v86/build/v86.wasm",
                memory_size: 512 * 1024 * 1024,
                vga_memory_size: 8 * 1024 * 1024,
                screen_container: document.getElementById("screen_container"),
                bios: {url: "../../external/v86/bios/seabios.bin"},
                vga_bios: {url: "../../external/v86/bios/vgabios.bin"},
                cdrom: {url: "../../images/linux4/linux4.iso"},
                filesystem: {
                    baseurl: "../../images/linux4",
                    basefs: "../../images/linux4/fs.json",
                },
                autostart: true,
                cmdline: "rw root=host9p rootfstype=9p rootflags=trans=virtio,cache=loose modules=virtio_pci tsc=reliable",
            });
        };
    </script>
</div>
</html>